h2{
    text-align: center;
}
img{
    max-width: 80vw;
    align-self: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navigation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.btn{
    width: max-content;
    padding: 5px 10px;
    background-color: bisque; 
    border: 2px solid lightslategray; 
    border-radius: 2rem; 
    text-align: center; 
    text-decoration: none; 
    color: gray; 
    font-size: medium;
}
.btn-back{
    position: sticky; 
    top: 30px; 
    left: 10px;
    opacity: 0.2; 
    transition-duration: 500ms;
    background-color: lightslategray; 
    color: white;
}
.btn:hover{
    background-color: hsl(33, 100%, 95%); 
    color: gray;
}
.btn-back:hover{
    opacity: 1;
}